<!DOCTYPE html>
<html>
		<%- include('partials/head') %>
	<body <% if(bodyClass) {%> class="<%- bodyClass %>"<% } %>>
		<%- include('partials/header') %>
		<%- contents %>
		<%- include('partials/footer') %>
	</body>
</html>