<html class="html-fixed">
<%- partial('_partial/head') %>
	<body class="page-secondary page-docs <% if(page.version){ %> <%= page.version %><% } %>">
		<%- partial('_partial/header', null, {cache: !config.relative_link}) %>
		<div class="columns docs-layout">
			<div class="column docs-column docs-nav">
				
				<%- partial('_partial/docs-nav', {data: site.data.docs[page.version], path: page.path}) %>
			</div>
			<div class="column is-10 docs-column docs-content">
        		<%- page.content %>
			</div>
		</div>
	    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
		<%- partial('_partial/after-footer') %>
	</body>
</html>