<html class="html-fixed">
<%- partial('_partial/head') %>
	<body class="page-secondary page-docs <% if(page.version){ %> <%= page.version %><% } %>">
		<%- partial('_partial/header', null, {cache: !config.relative_link}) %>
		<div class="columns docs-layout">
			<div class="column is-3 docs-column docs-nav">
				<div class="field">
					<div class="control">
						<div class="select is-primary is-small">
						<select>
							<option>Intern 3</option>
							<option>Intern 4</option>
						</select>
						</div>
					</div>
				</div>
				<aside class="menu">
					<p class="menu-label">
						Using Intern
					</p>
					<ul class="menu-list">
						<li>
							<a class="is-active">Getting started with Intern</a>
							<ul>
								<li><a>What can Intern test?</a></li>
								<li><a>Step 1: Download Intern</a></li>
								<li><a>Step 2: Configure Intern</a></li>
								<li><a>Step 3: Write a unit test</a></li>
								<li><a>Step 4: Write a functional test</a></li>
								<li><a>Step 5: Code coverage</a></li>
								<li><a>Step 6: Remote testing</a></li>
							</ul>
						</li>
						<li><a>How To</a></li>
						<li><a>Concepts</a></li>
						<li><a>Architecture</a></li>
						<li><a>Configuration</a></li>
						<li><a>Writing tests</a></li>
						<li><a>Running</a></li>
						<li><a>Continuous integration</a></li>
						<li><a>Extending</a></li>
						<li><a>API</a></li>
						<li><a>Developing</a></li>
						<li><a>Contributing</a></li>
					</ul>
				</aside>
			</div>
			<div class="column is-9 docs-column docs-content">
        		<%- page.content %>
			</div>
		</div>
	    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
		<%- partial('_partial/after-footer') %>
	</body>
</html>