 <% 
 	if (!typeof bodyClass) {
		bodyClass = '';
	}
%> 

<!DOCTYPE html>
<html>
	<%- include('partials/head') %>
	<body class="<%- bodyClass %>">
		<%- include('partials/header') %>
		<%- contents %>
		<%- include('partials/footer') %>
	</body>
</html>